DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza193SV9yTXhGamhfazZHYjMtbVVUeGoiLCJhcGlfa2V5IjoiMDFLRFlQMkdFMkpZMDIxUUE1VFc3VkhNOE0iLCJ0ZW5hbnRfaWQiOiI4ZjE3ZTA2NWNjYTU3YzgyYzYyMmRmMzhkMzA2YmQ2NmFlNWJhYTM5Y2Q3OWU0ZDU2OTQ0NGFlOTY3MzgzYjFiIiwiaW50ZXJuYWxfc2VjcmV0IjoiNDAwNzcyZGYtNTk0Ni00YjM3LTkxNzQtYTE5M2Q3MmY0MWI3In0.MMOn4q-jmCmxn438g8fQOIw7SN6KC8J3pddBWsIxoGQ"
VITE_API_URL="http://localhost:3001/api"
PORT=3001
